.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
  button {
    border-color: #8660f7;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #8660f7;
    font-weight: bold;
    transition: #8660f7 500ms ease-in-out;
    &:hover {
      background-color: #a98ff7;
      border-color: #a98ff7;
    }
  }
}
